/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Component Styles
  5. Media Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

/* 2. Typography Styles
======================================== */

p {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  /* font-family: 'Manrope', sans-serif; */
  letter-spacing: 0.5em;
}

h1 {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
}

/* 3. Structure Styles
======================================== */
.container {
  width: 650px;
  height: 60%; /* change this if only using it as a component for a website, make the height smaller*/
  /* margin: 50px; */
  /* outline: solid 1px black; */
  border-radius: 4%;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
  margin: 0;
  left: 25%;
  margin-right: -25%;
}

.quote-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 4. Component Styles
======================================== */
button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  border-width: 0px;
  cursor: pointer;
}

header {
  padding-top: 10px;
}
article {
  text-align: center;
  width: 85%;
}

.img-container {
  position: relative; 
  top: 2%;
  width: 444px;
  height: 23px;
  background-image: url(images/pattern-divider-desktop.svg);
}
/* background-image: url("../../media/examples/lizard.png"); */

.button-container {
  position: relative;
  top: 10%;
}

/* 5. Media Styles
======================================== */
@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
    left: 5%;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }
  .img-container {
    width: 295px;
    height: 20px;
    background-image: url(/images/pattern-divider-mobile.svg);
    top: 0px;
  }
}